
@font-face {
    font-family: 'SpotifyMixUIBold';
    src: url(assets/fonts/SpotifyMixUI-Bold-4264b799009b1db5c491778b1bc8e5b7.woff2);
}
@font-face {
    font-family: 'SpotifyMixUIRegular';
    src: url(assets/fonts/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2) ;
}
@font-face {
    font-family:'SpotifyMixUI3Title';
    src: url(assets/fonts/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2);
}

/* Reset */
body,div,p,a,li,ul,button{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}
body{
    color: #fff;
    font-family: 'SpotifyMixUIBold';
    font-size: 16px;
    line-height: normal;
    background-color: #121212;
}
/* _____Navbar_____ */

.nav-container{
    top: 0;
    width: 100%;
    height: 56px;
    display: flex;
    gap: 16px;
    position: fixed;
    flex-flow: row;
    justify-content: space-between;
    background-color: #000;
    padding: 16px;
    box-sizing: border-box;
    z-index: 5;
}
#mob-l-logo{
    display: none;
}
.laptop-left-container{
    display: none;
}
.laptop-right-container{
    display: none;
}
.nav-left-container{
    width: 100%;
    display: block;
    box-sizing: border-box;
}
.logo-container{
    width: 32px;
    height: 32px;
    display: inline-block;
    cursor: pointer;
}
.logo-container svg{
    stroke: transparent;
    fill: #fff;
    margin-top: -4px;
}
.nav-right-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.search-button{
    display: block;
    padding: 0px 16px;
    margin-top: 4px;
    cursor: pointer;
}
.search-button svg{
    fill: #fff;
}
.open-app-button button{
    border: 0;
    border-radius: 9999px;
    white-space: nowrap;
    background-color: #fff;
    overflow-wrap: anywhere;
    box-sizing: border-box;
    cursor: pointer;
}
.open-app-button button span{
    min-width: 18.67px;
    display: inline-flex;
    position: relative;
    font-family: 'SpotifyMixUIBold';
    font-size: 0.8125rem;
    font-weight: 700;
    padding: 4px 16px;
    overflow-wrap: anywhere;
    text-wrap-mode: wrap;
}
.menu-button button{
    border: none;
    margin-left: 16px;
    background-color: transparent;
    cursor: pointer;
}
.menu-button svg{
    fill: #fff;
    height: 24px;
    width: 24px;
    margin-top: 4px;
}
/* _____Content_____ */

.left-sidebar-container{
    display: none;
}
.main-wrap-content{
    display: block;
    margin-top: 56px;
}
.content-block-container{
    display: block;
    padding-left: 16px;
}
.content-block-head{
    display: block;
    font-family: 'SpotifyMixUI3Title';
    padding-top: 24px;
}
.content-block-head h2{
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 12px;
}
.suggession-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    box-sizing: border-box;
    /* z-index: 4; */
}
.suggession-box{
    gap: 8px;
    padding: 8px;
    display: flex;
    flex-flow: column;
    max-inline-size: 168px;
    scroll-snap-align: center;
    /* z-index: 0; */
}
#suggession-box1{
    padding-left: 0px;
}
#suggession-box2{
    padding-right: 16px;
}
.box-image{
    display: block;
    height: 152px !important;
}
.box-image img{
    width: 152px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 4px;
}
.box-head a{
    display: block;
    position: relative;
    color: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    font-family: 'SpotifyMixUIRegular';
}
.box-head a span{
    width: 152px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* _____footer_____ */

.footer-content-container{
    display: block;
    /* color: #121212; */
    position: relative;
    padding: 8px 16px 40px;
}
.footer-content{
    display: block;
    padding-top: 32px;
}
.footer-site-links{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: left;
}
.footer-links{
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}
#links-first{
    padding: 8px 0px;
}
.links{
    width: 100%;
    height: fit-content;
    display: block;
    padding-bottom: 8px;
    box-sizing: border-box;
}
.links a{
    color: #B3B3B3;
    font-weight: 400;
    line-height: normal;
    font-family: 'SpotifyMixUIRegular';
}
.footer-social-links .footer-links{
    display: flex;
    flex-flow: row;
    margin-bottom: 40px;
}
.social-links{
    display: block;
    padding-right: 16px;
}
.social-links a{
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(41, 41, 41);
}
.social-links a svg{
    width: 16px;
    height: 16px;
    fill: #fff;
}
.divider{
    display: block;
    border-block-start: 1px solid #292929;
    margin: 0 0 20px 0;
}

/* ____footer-End____ */

.footer-bottom-container{
    display: block;
    padding-top: 16px;
    box-sizing: border-box;
}
.footer-bottom-links{
    display: flex;
    flex-wrap: wrap;
}
.bottom-links{
    display: inline-block;
    margin-right: 16px;
}
.bottom-links a{
    color: #B3B3B3;
    display: block;
    position: relative;
    margin-bottom: 8px;
}
.bottom-links a span{
    font-family: 'SpotifyMixUIRegular';
    font-size: 0.875rem;
    font-weight: 400;
}
.spotify25-container p{
    display: block;
    font-family: 'SpotifyMixUIRegular';
    font-size: 0.875rem;
    font-weight: 400;
    color: #B3B3B3;
}
.language-selection-container{
    display: block;
    padding-top: 16px;
}
.language-cont{
    display: inline-flex;
    min-block-size: 32px;
    background-color: #121212;
    border-radius: 9999px;
    border: 1px solid #7c7c7c;
    font-family: 'SpotifyMixUIBold';
    font-size: 0.8125rem;
    font-weight: 700;
    padding: 6px 14px 4px 16px;
    color: #fff;
    gap: 4px;
}
.language-cont .text{
    width: 45px;
    display: inline-flex;
    justify-content: left;
}
.language-cont span svg{
    width: 16px;
    height: 16px;
    display: block;
    fill: #fff;
    margin: 1px 0px 0px -4px;
}




@media screen and (min-width:370px) {
    #mob-l-logo{
        display: block;
    }
    #mob-logo{
        display: none;
    }
    .open-app-button button span{
        line-height: 24px;
        text-wrap-mode: nowrap;
    }
}

@media screen and (min-width:768px) {
   .footer-site-links{
    flex-direction: row;
   } 
   .footer-site-links .footer-links{
    width: 40%;
    margin-right: 24px;
   }
}
@media screen and (min-width:1024px) {
    .nav-container{
        width: 100%;
        gap: 0;
        height: 64px;
        padding: 8px;
        box-sizing: border-box;
    }
    #mob-l-logo{
        height: 72px;
        width: 72px !important;
        text-align: center;
        margin-top: -16px;
    }
    .logo-container{
        margin: 28px 20px 20px;
    }
    .nav-right-container{
        display: none;
    }
    .laptop-left-container{
        display: block;
    }
    .home-input-container{
        width: 100%;
        min-width: auto;
        display: flex;
    }
    .home-button{
        width: 48px;
        height: 48px;
        display: flex;
        border: none;
        border-radius: 50%;
        background-color: #1f1f1f;
        justify-content: center;
        align-items: center;
        margin-left: 8px;
    }
    .home-button span svg{
        width: 24px;
        height: 24px;
        fill: #fff;
        display: block;
    }
    #search span svg{
        fill: rgb(179, 179, 179);
    }
    .nav-lap-container{
        width: 100%;
        display: flex;
    }
    .laptop-right-container{
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: right;
        gap: 8px;
    }

    .nav-lists{
        display: block;
        color: #B3B3B3;
        font-family: inherit;
        font-size: 16px;
        font-weight: 700;
        border: none;
        background-color: #000;
    }
    .side-divider{
        /* top: 10px; */
        height: 25px;
        width: 1px;
        display: block;
        margin: 16px;
        background-color: #fff;
    }
    .install-container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 16px 4px 12px;
    }
    .install-icon svg{
        width: 16px;
        height: 16px;
        display: block;
        fill: #B3B3B3;
        margin-right: 5px;
    }
    .install-text{
        display: block;
        color: #B3B3B3;
        font-size: 0.875rem;
        font-weight: 700;
        text-wrap: nowrap;
    }
    .login-container{
        display: flex;
    }
    .signup-button{
        height: 48px;
        display: block;
        background-color: #000;
        border: none;
        color: #B3B3B3;
        text-wrap: nowrap;
        font-family: 'SpotifyMixUIBold';
        font-size: 0.875rem;
        font-weight: 700;
        padding: 4px 16px 4px 8px;
    }
    /* .signup-button span{
    } */
    .login-button{
        background-color: #fff;
        border: none;
        border-radius: 9999px;
        box-sizing: border-box;
    }
    .login-button span{
        height: 48px;
        display: flex;
        padding: 8px 32px;
        align-items: center;
        justify-content: center;
        font-family: 'SpotifyMixUIBold';
        font-size: 1rem;
        font-weight: 700;
        text-wrap: nowrap;
        line-height: normal;
        letter-spacing: normal;
        box-sizing: border-box;
    }

    /* _____Content_____ */

    .main-wrap1{
        width: 100%;
        max-width: 100%;
        display: block;
        box-sizing: border-box;
    }
    .main-wrap{
        width: 100%;
        display: block;
        position: relative;
        box-sizing: border-box;
    }
    .main-wrap-content{
        height: 715px;
        display: grid;
        grid-auto-flow: column;
        /* grid-template-columns: 27.778% 68%; */
        gap: 8px;
        padding: 8px;
        box-sizing: border-box;
        background-color: #000;
    }
    .left-sidebar-container{
        width: 280px;
        /* width: 100%; */
        /* max-width: calc(280*1px); */
        background-color: #121212;
    }
    .main-content-container{
        width: auto;
        display: block;
        overflow: hidden;
        box-sizing: border-box;
        background-color: #121212;
    }

    /* ______Left-Sidebar______ */

    .left-sidebar-container{
        /* height: 699px; */
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;
    }
    .library-content{
        display: flex;
        padding: 12px 16px 8px;
        margin-bottom: 16px;
        align-items: center;
        justify-content: space-between;
    }
    .library-text-icon-container{
        height: 32px;
        display: flex;
        padding: 4px 8px;
        color: #B3B3B3;
        align-items: center;
    }
    .library-icon{
        width: 24px;
        height: 24px;
        display: block;
        margin-right: 12px;
    }
    .library-icon svg{
        fill: #B3B3B3;
    }
    .plus-icon{
        height: fit-content;
        display: block;
        padding: 8px;
        margin-top: -2px;
    }
    .plus-icon span{
        height: 16px;
        display: block;
    }
    .plus-icon svg{
        height: 16px;
        width: 16px;
        fill: #B3B3B3;
    }
    .sidebar-content-container{
        gap: 8px;
        display: flex;
        flex-flow: column;
        padding: 0px 8px 8px;
    }
    .sidebar-content-box{
        display: flex;
        gap: 20px;
        flex-flow: column;
        margin: 8px 0px;
        padding: 16px 20px;
        border-radius: 8px;
        background-color: #1f1f1f;
        box-sizing: border-box;
    }
    .sidebar-content-head{
        display: flex;
        flex-flow: column;
        gap: 8px;
    }
    .sidebar-text{
        display: block;
        font-family: 'SpotifyMixUIRegular';
        font-size: 14px;
        font-weight: 400;
    }
    #sidebar-button span{
        height: 32px;
        padding: 4px 16px;
        font-size: 14px;
        font-weight: 400;
    }
    #sidebar-bottom{
        padding: 0px 24px;
        margin: 32px 0px;
    }
    .bottom-links a span{
        font-size: 11px;
    }
    .language-selection-container{
        padding-top: 32px;
    }
    #sidebar-bottom .spotify25-container p{
        font-size: 12px;
        color: #fff;
    }
    /* _____Site-Footer_____ */

    .main-site-footer{
        bottom: 0px;
        width: 100%;
        display: block;
        position: fixed;
        background-color: #000;
    }
    .site-footer-container{
        display: block;
        padding: 0px 8px 8px;
        box-sizing: border-box;
    }
    .site-footer{
        width: 100%;
        display: flex;
        flex-flow: row;
        padding: 11px 24px 7px 15px;
        justify-content: space-between;
        box-sizing: border-box;
        background-image: linear-gradient(90deg, #af2896, #509bf5);
    }
    .site-footer-head{
        font-size: 14px;
        margin-top: 1px;
    }
    .site-footer-text{
        font-family: 'SpotifyMixUIRegular';
    }

    /* Content */
    .main-content-container{
        display: block;
        overflow: hidden;
        overflow-y: scroll;
        scrollbar-width: none;
    }


}